<img src="Logo.png" width="100" align="left"/> 

# <center> Unit 3 Project </center>
#  <center> Third section : supervised task </center>

In this notebook you will be building and training a supervised learning model to classify your data.

For this task we will be using another classification model "The random forests" model.

Steps for this task: 
1. Load the already clustered dataset 
2. Take into consideration that in this task we will not be using the already added column "Cluster" 
3. Split your data.
3. Build your model using the SKlearn RandomForestClassifier class 
4. classify your data and test the performance of your model 
5. Evaluate the model ( accepted models should have at least an accuracy of 86%). Play with hyper parameters and provide a report about that.
6. Provide evidence on the quality of your model (not overfitted good metrics)
7. Create a new test dataset that contains the testset + an additional column called "predicted_class" stating the class predicted by your random forest classifier for each data point of the test set.

## 1. Load the data and split the data:

In [28]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd 
from sklearn.model_selection import train_test_split

In [29]:
# To-Do:  load the data 
df = pd.read_csv("Saved/UnsupervisedData.csv")
df.head()

,ID,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster
0,1,1,32,0,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0,3
1,2,1,32,0,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5,3
2,3,1,32,0,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3,3
3,4,1,32,0,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7,3
4,5,1,32,0,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7,3

In [30]:
# To-Do : keep only the columns to be used : all features except ID, cluster 
X=df[df.columns.difference(['ID', 'cluster'])]
X
# The target here is the Category column 
Y = df["Category"]

# Do not forget to split your data (this is a classification task)
# test set size should be 20% of the data 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size= 0.2, random_state=0)

## 2. Building the model and training and evaluate the performance:

In [31]:
# To-do build the model and train it
# note that you will be providing explanation about the hyper parameter tuning 
# So you will be iterating a number of times before getting the desired performance

#Create my model 
clf = RandomForestClassifier(n_estimators = 100, criterion ='entropy', random_state = 0)
print(clf.get_params())
bootstrap= [True, False]
max_features= ['auto','log2', 'sqrt' ]
max_depth=[2, 8, 20, 40]
tuned_parameters= {'bootstrap': bootstrap, 'max_features':max_features, 'max_depth':max_depth}

from sklearn.model_selection import GridSearchCV 
grid= GridSearchCV(estimator=clf,param_grid= tuned_parameters, cv=5)
grid.fit(X_train, Y_train)

{'bootstrap': True, 'ccp_alpha': 0.0, 'class_weight': None, 'criterion': 'entropy', 'max_depth': None, 'max_features': 'auto', 'max_leaf_nodes': None, 'max_samples': None, 'min_impurity_decrease': 0.0, 'min_impurity_split': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'n_estimators': 100, 'n_jobs': None, 'oob_score': False, 'random_state': 0, 'verbose': 0, 'warm_start': False}

GridSearchCV(cv=5,
             estimator=RandomForestClassifier(criterion='entropy',
                                              random_state=0),
             param_grid={'bootstrap': [True, False],
                         'max_depth': [2, 8, 20, 40],
                         'max_features': ['auto', 'log2', 'sqrt']})

In [32]:
grid.best_params_

{'bootstrap': False, 'max_depth': 20, 'max_features': 'auto'}

In [33]:
grid.best_score_

0.9877963306534735

The best parameters are 'bootstrap': False, 'max_depth': 20, 'max_features': 'auto' with score= 0.987

In [43]:
y_hat = grid.predict(X_test)

In [59]:
# To-do : evaluate the model in terms of accuracy and precision 
# Provide evidence that your model is not overfitting 
from sklearn.metrics import precision_score, accuracy_score

print(' model accuracy:', accuracy_score(Y_test, y_hat)*100,"%")
print(' model precision:', precision_score(Y_test, y_hat, average='micro')*100,"%")

 model accuracy: 98.3739837398374 %
 model precision: 98.3739837398374 %

In [60]:
from sklearn.metrics import f1_score, recall_score
f1_score(Y_test, y_hat, average='macro')

0.8905069124423963

In [61]:
recall_score(Y_test, y_hat, average='macro')

0.85

> Hint : A Perfect accuracy on the train set suggest that we have an overfitted model So the student should be able to provide a detailed table about the hyper parameters / parameters tuning with a good conclusion stating that the model has at least an accuracy of 86% on the test set without signs of overfitting

## 3. Create the summary test set with the additional predicted class column: 
In this part you need to add the predicted class as a column to your test dataframe and save this one

In [71]:
# To-Do : create the complete test dataframe : it should contain all the feature column + the actual target and the ID as well
# We first create a copy for our dataframe
test_df = X_test.copy()
test_df['cluster'] = df['cluster'].copy()
# then add the actual target and the ID as well  
test_df['Category'] = df['Category']
test_df['ID'] = df['ID']

In [72]:
test_df.head()

,ALB,ALP,ALT,AST,Age,BIL,CHE,CHOL,CREA,Category,GGT,PROT,Sex,cluster,ID
49,47.8,89.0,48.5,38.4,36,8.6,8.26,5.62,96.0,1,21.9,76.2,0,3,50
496,45.1,79.1,39.0,30.5,56,5.2,6.47,5.10,64.0,1,145.3,66.7,1,4,497
211,45.9,66.7,31.8,28.1,51,9.0,10.08,5.61,85.0,1,36.2,73.0,0,3,212
249,44.7,71.6,22.9,22.1,55,5.5,6.82,4.61,105.0,1,59.2,72.7,0,4,250
142,43.2,68.2,27.8,42.3,45,6.6,10.93,6.61,105.0,1,27.2,74.5,0,3,143

In [73]:
# To-Do : Add the predicted_class column 
test_df["Predicted_class"] = y_hat

In [74]:
test_df.head()

,ALB,ALP,ALT,AST,Age,BIL,CHE,CHOL,CREA,Category,GGT,PROT,Sex,cluster,ID,Predicted_class
49,47.8,89.0,48.5,38.4,36,8.6,8.26,5.62,96.0,1,21.9,76.2,0,3,50,1
496,45.1,79.1,39.0,30.5,56,5.2,6.47,5.10,64.0,1,145.3,66.7,1,4,497,1
211,45.9,66.7,31.8,28.1,51,9.0,10.08,5.61,85.0,1,36.2,73.0,0,3,212,1
249,44.7,71.6,22.9,22.1,55,5.5,6.82,4.61,105.0,1,59.2,72.7,0,4,250,1
142,43.2,68.2,27.8,42.3,45,6.6,10.93,6.61,105.0,1,27.2,74.5,0,3,143,1

> Make sure you have 16 column in this test set

In [76]:
# Save the test set 
test_df.to_csv("test_summary.csv", index=False)